.authbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
	font-family: 'Nunito Sans', sans-serif !important;
    transition: all 0.5s ease-in-out;

}


.authbutton a:hover {
    color: rgb(249 107 24) !important;
  }
  