.resetpasswordpage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.resetpasswordpage-form{
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    width: 45%;

    margin-bottom: 10px;
    padding-bottom: 20px;
}