.loginpage-leftside {
	width: 43%;
	margin: 15px;
	overflow-y: auto;
	height: 100%;
	position: relative;
	display:flex; 
	flex-direction:column;
	gap: 5px;
}


.leftside_logo {
	width: 30px;
    min-height: 30px;
	margin: 15px 15px 30px;
	object-fit: cover;
	display: block;
}

.termofuse {
	font-family: 'Nunito Sans', sans-serif;

	position: absolute;
	max-width: 100%;
	bottom: 15px;
	right: 50%;
	transform: translateX(50%);
	justify-self: flex-end;
	font-size: 10px;
	text-align: center;
}

.termofuse a {
	height: 100%;
	color: rgb(238, 77, 45);
}
@media only screen and (max-width: 1150px) {
	.loginpage-leftside {
		width: 60%;
	}
}

@media only screen and (max-width: 800px) {
	.loginpage-leftside {
		width: 100%;
		overflow-y: auto;
	}
}