

.adminsite-layout .adminsite-layout-background {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: flex-end;
  padding: 18px 24px;
  white-space: pre;
  min-height: 100px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}


  
.logo_admin-container {
    width: 100%;
    padding: 15px;
    margin: 15px;

}


  .ant-layout-header  {
    all: unset;
  }