

.adminsite-layout .adminsite-layout-background {
    height: 200px;
    background: red;
  }
  
.logo_admin-container {
    width: 100%;
    padding: 15px;
    margin: 15px;

}


  .ant-layout-header  {
    all: unset;
  }