.resetpasswordform {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    /* align-items: center; */
	height: 100%;
	width: 100%;
	padding: 10px 15px;
	max-width: 500px;
    margin: auto;

}

.resetpasswordform .ant-btn-primary:hover, .ant-btn-primary:focus {
	color: white;
    border-color: #333;
    background: #333;
}

.resetpasswordform .ant-btn-primary[disabled], .ant-btn-primary[disabled]:hover, .ant-btn-primary[disabled]:focus, .ant-btn-primary[disabled]:active {
    color: rgba(0, 0, 0, 0.25);
    border-color: #d9d9d9;
    background: #f5f5f5;
    text-shadow: none;
    box-shadow: none;
}



.resetpasswordform  a {
	color: #000 !important;
}

.resetpasswordform > input,select,label {
    display: block;
}
.resetpasswordform .ant-input {
	font-size: 14px;
	line-height: 1.8;
	height: 2.5em;

}

.resetpasswordform .ant-input-prefix {
	margin-right: 8px;
	
}

.resetpasswordform .ant-input-affix-wrapper{
	border-radius: 5px;
}

.resetpasswordform-heading {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 2.5em;
	line-height: 42px;
    display: block;
    margin-block: 1.5em 0.5em;
}

.resetpasswordform-subtext {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #777;
    margin-bottom: 3em;
}
.resetpasswordform-loginby {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	position: relative;
	color: rgba(153, 153, 153, 0.9);
	width: 100%;
	text-align: center;
    margin-block: 2em 3em;
}

.resetpasswordform-loginby::after {
	content: "";
	width: 100%;
	height: 1px;
	left: 0;
	top: 50%;   
	background-color: rgb(191, 191, 191);
	position: absolute;
	z-index: 0;
}

.resetpasswordform-loginby .textwithline {
	width: 100%;
	padding-inline: 10px;
	position: relative;
	background-color: white;
	z-index: 2;
}
.resetpasswordform-subtext_bottom{
	text-align: center;
	color: #999;
	font-size: 14px;
	line-height: 24px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}
.resetpassword-submit{
	color: white;
	height: fit-content;
	width: 100%;
	font-size: 16px;
	line-height: 1.8;
	background-color: #000;
	border-color: #000;
	border-radius: 5px;
	box-shadow: rgb(0 0 0 / 25%) 0px 2px 4px 0px;
}