/* 
general 
-------
*/

.account-page {
  border-radius: 45px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 15px;

}

.account-page_title {
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(63, 63, 122);
}

.form-account {
  width: 100%;
  border-radius: 15px;
  box-shadow: rgb(153 196 227 / 25%) 0px 2px 8px;
  background-color: white;
  padding: 30px 20px 10px;
}






 .countup-container{ 
  display:flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

 .countup-block {
  border-radius: 36px;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  width: 380px;
 }



 .countup-text{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;

 }


  .accountLayout {
    background-color: rgb(248, 249, 255) !important;
  }
  
  .accountLayout .ant-layout-header {
    background-color: rgb(248, 249, 255);
    padding: 0;
    height: auto;
    line-height: 1.6;
  }
  


  
  /* 
  title holder
  ------------
  */
  .titleHolder {
    text-align: center;
    position: relative;
    padding: 0 0 20px;
    margin: 0 0 40px;
  }
  
  .titleHolder:after {
    transform: translateX(-50%);
    content: '';
    background: #1890ff;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 50px;
  }
  
  .titleHolder h2 {
    font-size: 28px;
    margin: 0;
  }
  
  /* 
  header
  ------ 
  */
  .ant-layout-header {
    transition: all 0.5s ease-in-out;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  .container-fluid {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 15px;
  }
  
  
  .header {
    transition: all 0.5s ease-in-out;

    min-height: 60px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 10px;
  }
  
  .header .logo {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  .header .logo .fas {
    color: #1890ff;
    margin: 0 5px 0 0;
    font-size: 28px;
  }
  
  .header .logo a {
    color: #333;
  }
  
  .header .ant-anchor-wrapper {
    background: none;
  }
  
  .header .ant-anchor {
    display: flex;
  }
  
  .header .ant-anchor-ink {
    display: none;
  }
  
  .header .ant-anchor-link {
    padding: 0 20px;
    line-height: 1.4;
    position: relative;
  }

  
  
  /* ant menu */
  .header .ant-menu {
    border: 0;
    background: none !important;
  }
  
  .header .ant-menu li.ant-menu-item {
    position: relative;
    color: #333;
  }
  
  .header .ant-menu li.ant-menu-item:before,
  .header .ant-menu li.ant-menu-item:after {
    content: '';
    background: #1890ff;
    width: 1px;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 30%;
    opacity: 0;
    transition: all 0.3s linear;
  }
  
  .header .ant-menu li.ant-menu-item:after {
    left: auto;
    right: 30%;
  }
  
  .header .ant-menu li.ant-menu-item,
  .header .ant-menu li.ant-menu-item-selected {
    border: 0 !important;
  }
  
  .header .ant-menu li.ant-menu-item-selected,
  .header .ant-menu li.ant-menu-item:hover {
    color: #1890ff;
    background: none;
  }
  
  .header .ant-menu li.ant-menu-item-selected:before,
  .header .ant-menu li.ant-menu-item:hover:before {
    left: 5%;
    opacity: 1;
  }
  
  .header .ant-menu li.ant-menu-item-selected:after,
  .header .ant-menu li.ant-menu-item:hover:after {
    right: 5%;
    opacity: 1;
  }
  
  .ant-layout-footer {
    padding: 0;
  }
  
  .mobileVisible {
    display: none;
  }
  
  .mobileHidden {
    display: block;
  }
  
  /* 
  responsive
  ----------
  */
  @media only screen and (max-width: 991px) {
    .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
      transform: scale(1.14);
    }
  }
  
  @media only screen and (max-width: 767px) {
    .accountLayout {
      font-size: 12px;
    }
    .swiper-slide img {
      max-width: 50px;

    }
    .slider-text_header{

      font-size: 15px;

      }
      
      .slider-contain img {

        height: 200px;
      }
      
    
 .countup-number {
  font-size: 3rem;
}
    .countup-block{
      height: 10em;
      width: 100%;
    }
    
.slider-beforeafter {
  margin: 10px ; 
 
 }

    .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
      transform: scale(1);
    }
  
    .mobileVisible {
      display: block;
    }
    
    .mobileHidden {
      display: none;
    }
  }